[submodule "src/pico-extras"]
	path = src/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "src/pico-sdk"]
	path = src/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
